* {
    margin: 0;
    padding: 0;
    font-family: "Sarpanch", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.app {
    background: #111111;
    color: #dbdbdb;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
}


::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #cf66ff40;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #07a0f9;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #f51cc2;
  }