* {
    margin: 0;
    padding: 0;
    font-family: "Sarpanch", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.app {
    background: #111111;
    color: #dbdbdb;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}