.home {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 300px;
    width: 300px;
    flex-direction: column;
    border: 2px dashed #00adf7;
    border-radius: 5px;

    & img {
      width: 70px;
      height: 70px;
    }

  }

  #upload {
    /* background: url('background.jpg') ; */
    margin: 0;
    padding: 0;
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .introduction {
      h1 {
        font-weight: 700;
        margin: 20px;
        text-align: center;

      }
      width: calc(50% - 100px);
      padding: 25px;
      text-align: justify;
      margin: 0 25px;
    }
    .mainUpload {
      width: 50%;
      display: flex;
      justify-content: center;
    }
  }
  
  .buttonContainer {
    width: 100%;
    display: flex;
    justify-content: end;
  }
  button {
    width: auto;
    padding: 10px 20px;
    margin: 10px;
    background: #00adf7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    gap: 6px;
    align-items: center;
    margin-top: 40px;
  }

  .dropZone {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    height: 300px;
    width: 300px;
    border: 2px dashed #00adf7;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    margin: 20px 0;
    font-size: 20px;
    color: #ffffff90;

    & svg {
      width: 30px;
      height: 30px;
    }
    & div {
      font-size: 10px;
    }
  }

  .resultData {
    width: 100%;
    h2 {
      display: block;
      margin: 20px;
      font-weight: 600;
    }
    .result {
      width: 100%;
      .row {
        display: flex;
        width: 100%;
        .cell {
          width: calc(70% - 20px);
          border-bottom: 1px solid #ddd;
          padding: 10px;
          border-right: 1px solid #ddd;
        }
        .cell:nth-child(1) {
          width: 30%;
          border-left: 1px solid #ddd;
        }
      }
      .row:nth-child(1) {
        border-top:  1px solid #ddd;
      }
      .head {
        background: #7ba0a0;
        color: #111;
      }
    }
  }
  .resultImageContainer {
    h2 {
      text-align: center;
      margin-bottom: 20px;
      font-weight: 600;
    }
  }
  .resultImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    width: calc(100% - 60px);
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    background: rgba(36, 50, 72, 0.451);
    gap: 20px;
    & img {
      width: calc(50vw - 80px);
      height: auto;
      display: block;
      border-radius: 10px;
    }
  }
}

@media only screen and (max-width: 450px) {
  .home {
    #upload {
      margin-top: 20px;
      flex-direction: column;
      padding: 0;
      height: auto;
      min-height: 100vh;
      .introduction {
        h1 {
          font-weight: 700;
          margin: 20px;
          text-align: center;
          font-size: 25px;
        }
        p {
          font-size: 15px;
        }
        width: 100%;
      };
      .mainUpload {
        width: 100%;
      }
    }

    .resultImages {
      padding: 10px;
      flex-direction: column;
      margin: 0;
      width: calc(100% - 20px);
      & img {
        width: 100%;
      }
    }
    .buttonContainer {
      justify-content: center;
      margin-bottom: 20px;
    }
    h2 {
      text-align: center;
    }
  }
}